extends layout.pug

block content
  header(class="container") 
    h1 
      mark 줌 클론 
      span &nbsp;&nbsp;|&nbsp;&nbsp;
      ins  Zoom Clone 
      span &nbsp;&nbsp;|&nbsp;&nbsp;
      kbd ズーム·クローン
    br
    h3 닉네임을 설정하세요
    
  main
    form(class="container") 
      input(type="text", placeholder="닉네임을 입력하세요", name="nickname" class="nickname")
      button(type="submit" class="save-btn") 저장


block scripts
  script(src="js/home.js") 
