doctype html
html(lang="ko" data-theme="dark")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" )
    block stylesheets
  title #{title} | Zoom Clone
  body 
    block content 

    script(src="/socket.io/socket.io.js") 