doctype html
html
    head
        meta(charset="UTF-8")
    body
        h1 
            a(href ='/topic') Welcome to Nodejs World
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic.id)= topic.title
        article
            h2= topic.title
            div= topic.description
            
        h3= 'This ['+ topic.title +'] list DELETE now?'
        article
            form(action="/topic/"+topic.id+"/delete", method="post")
                input(type="submit", value="YES")
            a(href="/topic/"+topic.id) NO
