doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href ='/topic') Welcome to Nodejs World
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        
        form(action='/topic/'+title+'/edit', method="post")
            p
                input(type="text" name="title" value=title)
            p
                textarea(name="description")= description
            p
                input(type="submit")