doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href ='/topic') Welcome to Nodejs World
        
        form(action='/topic/'+topic.id+'/edit', method="post")
            p
                input(type="text" name="title" value=topic.title)
            p
                textarea(name="description" rows="5" cols="40")= topic.description
            p
                input(type="text" name="author" value=topic.name)
            p   
                input(type="submit")
            p   
                a( href=`/topic/${topic.id}`) back    