doctype html
html
    head
        meta(charset="UTF-8")
    body
        h1 
            a(href ='/topic') Welcome to Nodejs World
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic.id)= topic.title
        article
            if (topic)
                h2= topic.title
                div= topic.description
                div= 'by '+ topic.name
            else  
                h2 Title space
                div Description space
                div Author space
            
        ul
            li
                a(href = '/topic/add') add 

            if (topic)
                li
                    a(href = '/topic/'+topic.id+'/edit') edit 
                li
                    a(href = '/topic/'+topic.id+'/delete') delete
