doctype html
html
    head
        meta(charset="UTF-8")
    body
        h1 
            a(href ='/topic') Welcome to Nodejs World
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        article
            h2= title
            div= description
            
        a(href = '/topic/new') new