doctype html
html
    head
        meta(charset="UTF-8")
    body
        h1 Welcome to Nodejs World
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        h2= title
        div= description